@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
  display: flex;
  width: max-content;
}

.logo-bar-container:hover .animate-scroll {
  animation-play-state: paused;
}

.logo-bar-container {
  /* Container styles if needed */
}